$('#existing-stores').html("<%= escape_javascript(render :partial => 'channels/partials/stores/existing_stores') %>");
$('#available-stores').html("<%= escape_javascript(render :partial => 'channels/partials/stores/available_stores') %>");