<%= form_for(@channel, :html => {:class => 'form-horizontal', :id => 'form-channels'}) do |f| %>
	<%= render :partial => 'channels/partials/form_header' %>

	<section class="content">
		<div class="row">
		  <%= render :partial => 'channels/partials/form', :locals => { :f => f } %>
		</div>
	</section>
<% end %>