<section class="content-header">
	<h1>
		<%= content_header %>

		<div class="pull-right">
			<a href="<%= channels_path(@paramz) %>" class="btn btn-success">Finish</a>
		</div>
	</h1>
</section>

<section class="content">
	<div class="row">
	  <%= render :partial => 'channels/partials/stores/stores_form' %>
	</div>
</section>