<section class="content-header">
	<h1>
		<%= content_header %>
		<a href="<%= new_team_path(@paramz) %>" class="pull-right btn btn-default"><i class="fa fa-plus"></i> Add Team<a>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<%= field_support_error_alert_notice!(true) %>
			
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Teams List</h3>
				</div>

				<div class="box-body table-responsive">
					<div class="col-md-12" id="list-container">
						<%= render :partial => 'teams/partials/list' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>