$('#existing-accounts').html("<%= escape_javascript(render :partial => 'teams/partials/accounts/existing_accounts') %>");
$('#available-accounts').html("<%= escape_javascript(render :partial => 'teams/partials/accounts/available_accounts') %>");