<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Code</th>
			<th>Name</th>
			<th>Products</th>
			<th>Products Levels</th>
		</tr>
	</thead>

	<tbody>
		<% if @stores.empty? %>
			<tr>
				<td colspan="5" align="center">No stores found.</td>
			</tr>
		<% else %>
			<% @stores.each do |store| %>
				<tr>
					<td align="center"><%= image_tag store.avatar.url(:tiny) %></td>
					<td><%= store.id %></td>
					<td><%= store.name %></td>
					<td><a href="<%= extractions_dashboard_path(store, @paramz) %>"><%= pluralize(store.store_product_inventories.count, 'Product') %></a></td>
					<td><%= store_products_levels(store) %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>