<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Name</th>
			<th>Code</th>
			<th>Products</th>
		</tr>
	</thead>

	<tbody>
		<% if @brands.empty? %>
			<tr>
				<td colspan="4" align="center">No brands found.</td>
			</tr>
		<% else %>
			<% @brands.each do |brand| %>
				<tr>
					<td align="center"><%= image_tag brand.avatar.url(:tiny) %></td>
					<td><%= brand.name %></td>
					<td><%= brand.id %></td>
					<td><a href="<%= brand_products_dashboard_path(brand) %>" class="btn btn-primary btn-xs"><%= pluralize(brand.products.count, 'Product') %></a></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>

	<%= render :partial => 'partials/pagination', :locals => {:list => @brands} %>
</table>