<p class="login-box-msg">
  Sign in to start your session
</p>

<%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
  <%= field_support_error_alert_notice!(resource) %>
  
  <div class="field form-group has-feedback">
    <%= f.text_field :username, :class => 'form-control', :placeholder => 'Username', :autofocus => true %>
    <span class="fa fa-user-secret form-control-feedback"></span>
  </div>

  <div class="field form-group has-feedback">
    <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password', :autocomplete => 'off' %>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <% if devise_mapping.rememberable? %>
        <input type="checkbox" name="user[remember_me]" id="user_remember_me"> Remember Me
      <% end %>
    </div>

    <div class="col-xs-4">
      <div class="actions">
        <%= f.submit "Sign in", :class => 'btn btn-primary btn-block btn-flat' %>
      </div>
    </div>
  </div>
<% end %>

<script>
  
</script>