$('#existing-products').html("<%= escape_javascript(render :partial => 'stores/partials/products/existing_products') %>");
$('#available-products').html("<%= escape_javascript(render :partial => 'stores/partials/products/available_products') %>");