$('#existing-teams').html("<%= escape_javascript(render :partial => 'stores/partials/teams/existing_teams') %>");
$('#available-teams').html("<%= escape_javascript(render :partial => 'stores/partials/teams/available_teams') %>");