<section class="content-header">
	<h1>
		<%= content_header %>
		<a href="<%= channels_stores_dashboard_path(params[:id], :format => :pdf) %>" class="pull-right btn btn-danger"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Generate PDF<a>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">			
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Stores List</h3>
				</div>

				<div class="box-body table-responsive">
					<div class="col-md-12" id="list-container">
						<%= render :partial => 'stores/partials/reports/list' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>