<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Code</th>
			<th>Name</th>
			<th>Location</th>
		</tr>
	</thead>

	<tbody>
		<% if @stores.empty? %>
			<tr>
				<td colspan="4" align="center">No stores found.</td>
			</tr>
		<% else %>
			<% @stores.each do |store| %>
				<tr>
					<td align="center"><%= image_tag store.avatar.url(:tiny) %></td>
					<td><%= store.id %></td>
					<td><%= store.name %></td>
					<td><%= store.location %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>

	<%= render :partial => 'partials/pagination', :locals => {:list => @stores} %>
</table>