<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Brand Assignment</h3>
  </div>

  <div class="box-body box-profile">
    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'Brand' %>
        <%= select_tag 'brand', options_from_collection_for_select(@brands, 'id', 'name', selected_brand), :class => 'form-control', :include_blank => 'N/A' %>
      </div>
    </div>
  </div>
</div>