<section class="content-header">
	<h1>
		<%= content_header %>

		<div class="pull-right">
			<a href="#" class="btn btn-success" id="link-save-product">Save</a>
			<a href="<%= products_path(@paramz) %>" class="btn btn-warning">Cancel</a>
			<% unless @product.new_record? %>
				<a href="<%= product_path(@product, @paramz) %>" data-confirm="Delete <%= @product.name %>?" data-method="delete" class="btn btn-danger">Delete</a>
			<% end %>
		</div>
	</h1>
</section>