<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th><%= table_header('code') %></th>
			<th><%= table_header('name') %></th>
			<th><%= table_header('brand') %></th>
		</tr>
	</thead>

	<tbody>
		<% if @products.empty? %>
			<tr>
				<td colspan="4" align="center">No products found.</td>
			</tr>
		<% else %>
			<% @products.each do |product| %>
				<tr data-href="<%= edit_product_path(product, @paramz) %>">
					<td align="center"><%= image_tag product.avatar.url(:tiny) %></td>
					<td><%= product.id %></td>
					<td><%= product.name %></td>
					<td><%= product.brand.nil? ? 'N/A' : product.brand.name %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>

	<%= render :partial => 'partials/pagination', :locals => {:list => @products} %>
</table>