<div class="form-group col-md-4" id="inventory-level-div">
	<div class="row">
		<div class="col-md-12 ">
			<%= label_tag nil, 'Inventory Levels', :class => 'pull-left' %>	

			<a href="#" class="pull-right" id="remove-il-filter">
				<i class="fa fa-remove"></i>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<input type="checkbox" name="inventory_levels[]" value="0" class="form-control"> High
		</div>

		<div class="col-md-12">
			<input type="checkbox" name="inventory_levels[]" value="1" class="form-control"> Medium
		</div>

		<div class="col-md-12">
			<input type="checkbox" name="inventory_levels[]" value="2" class="form-control"> Low
		</div>

		<div class="col-md-12">
			<input type="checkbox" name="inventory_levels[]" value="3" class="form-control"> Out of Stock
		</div>
	</div>
</div>