<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Photo Taken</th>
			<th>Date</th>
			<th>Channel</th>
			<th>Store</th>
			<th>Brand</th>
			<th>Product</th>
			<th>Inventory Level</th>
		</tr>
	</thead>

	<tbody>
		<% if @reports.empty? %>
			<tr>
				<td colspan="6" align="center">No reports found.</td>
			</tr>
		<% else %>
			<% @reports.each do |report| %>
				<tr>
					<td align="center"><%= image_tag report.avatar.url(:tiny) %></td>
					<td><%= report.created_at.strftime("%m-%d-%Y") %></td>
					<td><%= report.store.channel.nil? ? 'N/A' : report.store.channel.name %></td>
					<td><%= report.store.name %></td>
					<td><%= report.product.brand.nil? ? 'N/A' : report.product.brand.name %></td>
					<td><%= report.product.name %></td>
					<td><span class="badge bg-<%= level_bg(report.inventory_level) %>"><%= report.inventory_level.humanize.titleize %></span></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>