<div class="form-group">
	<%= label_tag nil, 'Product' %>
	<%= select_tag 'productcode', options_from_collection_for_select(@products, "id", "name"), :class => 'form-control', :include_blank => false %>
</div>