<div class="box box-<%= box_border(params[:account_type]) %>">
  <div class="box-header with-border">
    <h3 class="box-title">Avatar</h3>
  </div>

  <div class="box-body box-profile">
    <a href="#" id="link-change-avatar">
      <%= image_tag klazz.avatar.url, :style => 'width: 100%;' %>
    </a>
  </div>

  <div class="box-footer">
    <%= f.file_field :avatar, :id => 'file-field-change-avatar' %>
  </div>
</div>