<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
  <strong>Copyright © 2017 <a href="http://almsaeedstudio.com">Field Support</a>.</strong> All rights reserved.
</footer>