<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag current_user.avatar.url(:medium), :class => 'img-circle' %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.name.titleize %></p>
        <a href="#"><i class="fa fa-circle text-<%= account_color %>"></i> <%= current_user_type %></a>
      </div>
    </div>

    <%= side_nav %>
  </section>
</aside>