<section class="content-header">
	<h1>
		<%= content_header %>
		<a href="<%= new_user_path(@paramz) %>" class="pull-right btn btn-default"><i class="fa fa-plus"></i> Add User<a>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<%= field_support_error_alert_notice!(true) %>
			
			<div class="box box-<%= box_border(params[:account_type]) %>">
				<div class="box-header with-border">
					<h3 class="box-title"><%= box_header(params[:account_type]) %></h3>
				</div>

				<div class="box-body table-responsive">
					<div class="col-md-12" id="list-container">
						<%= render :partial => 'users/partials/list' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	var account_type = "<%= params[:account_type] %>";
	var admin = "<%= User.user_types[:admin] %>";
	var staff = "<%= User.user_types[:staff] %>";
</script>