<%= form_for(@user, :url => create_new_users_path, :html => {:class => 'form-horizontal', :id => 'form-users'}) do |f| %>
	<%= render :partial => 'users/partials/form_header' %>

	<section class="content">
		<div class="row">
		  <%= render :partial => 'users/partials/form', :locals => { :f => f } %>
		</div>
	</section>
<% end %>

<script>
	var account_type = "<%= params[:account_type] %>";
	var admin = "<%= User.user_types[:admin] %>";
	var staff = "<%= User.user_types[:staff] %>";
</script>