<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Code</th>
			<th>Name</th>
			<th>Team</th>
			<th>Reports</th>
		</tr>
	</thead>

	<tbody>
		<% if @staffs.empty? %>
			<tr>
				<td colspan="6" align="center">No users found.</td>
			</tr>
		<% else %>
			<% @staffs.each do |user| %>
				<tr data-href="<%= edit_user_path(user, @paramz) %>">
					<td align="center"><%= image_tag user.avatar.url(:tiny) %></td>
					<td><%= user.id %></td>
					<td><%= user.name %></td>
					<td><%= user.team.nil? ? 'N/A' : user.team.name %></td>
					<td><%= link_to 'View Reports', products_report_path(user), :class => 'btn btn-primary btn-xs' %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>

	<%= render :partial => 'partials/pagination', :locals => {:list => @staffs} %>
</table>