<%= field_support_error_alert_notice!(false, @user) %>

<%= hidden_field_tag :account_type, params[:account_type] %>
<%= hidden_field_tag :page, params[:page] %>
<%= hidden_field_tag :sortby, params[:sortby] %>
<%= hidden_field_tag :order, params[:order] %>

<div class="col-md-3">
  <%= render :partial => 'partials/avatar', :locals => {:f => f, :klazz => @user} %>
  <%= render :partial => 'users/partials/team_assignment' if !is_root_admin? || is_new_create? %>
</div>

<div class="col-md-9">
  <%= render :partial => 'users/partials/information', :locals => {:f => f} %>
</div>