<section class="content-header">
	<h1>
		<%= content_header %>

		<div class="pull-right">
			<a href="#" class="btn btn-success" id="link-save-user">Save</a>
			<a href="<%= cancel_user_form %>" class="btn btn-warning">Cancel</a>
			<% unless @user.new_record? %>
				<a href="<%= user_path(@user, @paramz) %>" data-confirm="Delete <%= @user.name %>?" data-method="delete" class="btn btn-danger">Delete</a>
			<% end %>
		</div>
	</h1>
</section>