<div class="box box-<%= box_border(params[:account_type]) %>">
  <div class="box-header with-border">
    <h3 class="box-title">Account Information</h3>
  </div>

  <div class="box-body box-profile">
    <div class="form-group has-feedback">
      <%= f.label :name, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :name, :class => 'form-control', :placeholder => 'Name', :autofocus => true %>
        <span class="fa fa-user form-control-feedback"></span>
      </div>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :username, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :username, :class => 'form-control', :placeholder => 'Username', :autofocus => true %>
        <span class="fa fa-user-secret form-control-feedback"></span>
      </div>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :email, 'Email Address', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email' %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :password, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password', :autocomplete => 'off' %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :password_confirmation, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Confirm Password', :autocomplete => 'off' %>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
    </div>
  </div>
</div>