<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th><%= table_header('code') %></th>
			<th><%= table_header('name') %></th>
			<th><%= table_header('username') %></th>
			<th><%= table_header('email') %></th>
			<th><%= table_header('team') %></th>
		</tr>
	</thead>

	<tbody>
		<% if @users.empty? %>
			<tr>
				<td colspan="6" align="center">No users found.</td>
			</tr>
		<% else %>
			<% @users.each do |user| %>
				<tr data-href="<%= edit_user_path(user, @paramz) %>">
					<td align="center"><%= image_tag user.avatar.url(:tiny) %></td>
					<td><%= user.id %></td>
					<td><%= user.name %></td>
					<td><%= user.username %></td>
					<td><%= user.email %></td>
					<td><%= user.team.nil? ? 'N/A' : user.team.name %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>

	<%= render :partial => 'partials/pagination', :locals => {:list => @users} %>
</table>