<div class="box box-<%= box_border(params[:account_type]) %>">
  <div class="box-header with-border">
    <h3 class="box-title">Team Assignment</h3>
  </div>

  <div class="box-body box-profile">
    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'Team' %>
        <%= select_tag 'team', options_from_collection_for_select(@teams, "id", "name", @user.team.nil? ? nil : @user.team.id), :class => 'form-control', :include_blank => 'N/A' %>
      </div>
    </div>
  </div>
</div>