<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">
			Available Teams 
			<small>(<%= pluralize(@available_teams.count, 'Team') %>)</small>
		</h3>
	</div>

	<div class="box-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Team</th>
					<th>Accounts</th>
					<th>Action</th>
				</tr>	
			</thead>

			<tbody>
				<% if @available_teams.empty? %>
					<tr>
						<td colspan="3" align="center">No available teams.</td>
					</tr>
				<% else %>
					<% @available_teams.each do |team| %>
						<tr>
							<td><%= team.name %></td>
							<td><%= pluralize(team.users.count, 'Account') %></td>
							<td><%= link_to '<< Add to store', '#', :data => {:id => team.id}, :class => 'btn btn-primary btn-sm btn-add-to-store' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	var add_team_to_store_path = "<%= add_team_to_store_path(@store, @paramz) %>";
</script>