<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">
			<strong>( <%= @store.name %> )</strong> Existing Teams 
			<small>(<%= pluralize(@existing_teams.count, 'Team') %>)</small>
		</h3>
	</div>

	<div class="box-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Team</th>
					<th>Accounts</th>
					<th>Action</th>
				</tr>	
			</thead>

			<tbody>
				<% if @existing_teams.empty? %>
					<tr>
						<td colspan="3" align="center">No existing teams.</td>
					</tr>
				<% else %>
					<% @existing_teams.each do |team| %>
						<tr>
							<td><%= team.name %></td>
							<td><%= pluralize(team.users.count, 'Account') %></td>
							<td><%= link_to 'Remove from store >>', '#', :data => {:id => team.id}, :class => 'btn btn-info btn-sm btn-remove-from-store' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	var remove_team_from_store_path = "<%= remove_team_from_store_path(@store, @paramz) %>";
</script>