<div class="col-md-6">
	<div id="existing-teams">
		<%= render :partial => 'stores/partials/teams/existing_teams' %>
	</div>
</div>

<div class="col-md-6">
	<div id="available-teams">
		<%= render :partial => 'stores/partials/teams/available_teams' %>		
	</div>	
</div>