<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">
			Available Products 
			<small>(<%= pluralize(@available_products.count, 'Product') %>)</small>
		</h3>
	</div>

	<div class="box-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Product</th>
					<th>Stores</th>
					<th>Action</th>
				</tr>	
			</thead>

			<tbody>
				<% if @available_products.empty? %>
					<tr>
						<td colspan="3" align="center">No available products.</td>
					</tr>
				<% else %>
					<% @available_products.each do |product| %>
						<tr>
							<td><%= product.name %></td>
							<td><%= pluralize(product.stores.count, 'Store') %></td>
							<td><%= link_to '<< Add to brand', '#', :data => {:id => product.id}, :class => 'btn btn-primary btn-sm btn-add-to-brand' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	var add_product_to_brand_path = "<%= add_product_to_brand_path(@brand, @paramz) %>";
</script>