<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">
			<strong>( <%= @brand.name %> )</strong> Existing Products 
			<small>(<%= pluralize(@existing_products.count, 'Product') %>)</small>
		</h3>
	</div>

	<div class="box-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Product</th>
					<th>Store</th>
					<th>Action</th>
				</tr>	
			</thead>

			<tbody>
				<% if @existing_products.empty? %>
					<tr>
						<td colspan="3" align="center">No existing products.</td>
					</tr>
				<% else %>
					<% @existing_products.each do |product| %>
						<tr>
							<td><%= product.name %></td>
							<td><%= pluralize(product.stores.count, 'Store') %></span></td>
							<td><%= link_to 'Remove from brand >>', '#', :data => {:id => product.id}, :class => 'btn btn-info btn-sm btn-remove-from-brand' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	var remove_product_from_brand_path = "<%= remove_product_from_brand_path(@brand, @paramz) %>";
</script>