<div class="col-md-6">
	<div id="existing-products">
		<%= render :partial => 'brands/partials/products/existing_products' %>
	</div>
</div>

<div class="col-md-6">
	<div id="available-products">
		<%= render :partial => 'brands/partials/products/available_products' %>		
	</div>	
</div>