<section class="content-header">
	<h1>
		<%= content_header %>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<%= field_support_error_alert_notice!(true) %>
		</div>
	</div>
</section>
