<%= field_support_error_alert_notice!(false, @channel) %>

<%= hidden_field_tag :page, params[:page] %>
<%= hidden_field_tag :sortby, params[:sortby] %>
<%= hidden_field_tag :order, params[:order] %>

<div class="col-md-3">
  <%= render :partial => 'partials/avatar', :locals => {:f => f, :klazz => @channel} %>
</div>

<div class="col-md-9">
  <%= render :partial => 'channels/partials/information', :locals => {:f => f} %>
</div>