<section class="content-header">
	<h1>
		<%= content_header %>

		<div class="pull-right">
			<a href="#" class="btn btn-success" id="link-save-channel">Save</a>
			<a href="<%= channels_path(@paramz) %>" class="btn btn-warning">Cancel</a>
			<% unless @channel.new_record? %>
				<a href="<%= channel_path(@channel, @paramz) %>" data-confirm="Delete <%= @channel.name %>?" data-method="delete" class="btn btn-danger">Delete</a>
			<% end %>
		</div>
	</h1>
</section>