<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Channel Information</h3>
  </div>

  <div class="box-body box-profile">
    <div class="form-group has-feedback">
      <%= f.label :name, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :name, :class => 'form-control', :placeholder => 'Name', :autofocus => true %>
        <span class="fa fa-sticky-note form-control-feedback"></span>
      </div>
    </div>
  </div>
</div>