<section class="content-header">
	<h1>
		<%= content_header %>

		<div class="pull-right">
			<a href="#" class="btn btn-success" id="link-save-brand">Save</a>
			<a href="<%= brands_path(@paramz) %>" class="btn btn-warning">Cancel</a>
			<% unless @brand.new_record? %>
				<a href="<%= brand_path(@brand, @paramz) %>" data-confirm="Delete <%= @brand.name %>?" data-method="delete" class="btn btn-danger">Delete</a>
			<% end %>
		</div>
	</h1>
</section>