<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th><%= table_header('code') %></th>
			<th><%= table_header('name') %></th>
			<th>Products</th>
		</tr>
	</thead>

	<tbody>
		<% if @brands.empty? %>
			<tr>
				<td colspan="4" align="center">No brands found.</td>
			</tr>
		<% else %>
			<% @brands.each do |brand| %>
				<tr data-href="<%= edit_brand_path(brand, @paramz) %>">
					<td align="center"><%= image_tag brand.avatar.url(:tiny) %></td>
					<td><%= brand.id %></td>
					<td><%= brand.name %></td>
					<td><a href="<%= products_brand_path(brand, @paramz) %>" class="btn btn-primary btn-xs"><%= pluralize(brand.products.count, 'Product') %></a></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>

	<%= render :partial => 'partials/pagination', :locals => {:list => @brands} %>
</table>