<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">
			Available Stores 
			<small>(<%= pluralize(@available_stores.count, 'Store') %>)</small>
		</h3>
	</div>

	<div class="box-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Store</th>
					<th>Teams</th>
					<th>Products</th>
					<th>Action</th>
				</tr>	
			</thead>

			<tbody>
				<% if @available_stores.empty? %>
					<tr>
						<td colspan="4" align="center">No available stores.</td>
					</tr>
				<% else %>
					<% @available_stores.each do |store| %>
						<tr>
							<td><%= store.name %></td>
							<td><%= pluralize(store.teams.count, 'Team') %></td>
							<td><%= pluralize(store.products.count, 'Product') %></td>
							<td><%= link_to '<< Add to channel', '#', :data => {:id => store.id}, :class => 'btn btn-primary btn-sm btn-add-to-channel' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	var add_store_to_channel_path = "<%= add_store_to_channel_path(@channel, @paramz) %>";
</script>