<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">
			<strong>( <%= @channel.name %> )</strong> Existing Stores 
			<small>(<%= pluralize(@existing_stores.count, 'Store') %>)</small>
		</h3>
	</div>

	<div class="box-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Store</th>
					<th>Teams</th>
					<th>Products</th>
					<th>Action</th>
				</tr>	
			</thead>

			<tbody>
				<% if @existing_stores.empty? %>
					<tr>
						<td colspan="4" align="center">No existing stores.</td>
					</tr>
				<% else %>
					<% @existing_stores.each do |store| %>
						<tr>
							<td><%= store.name %></td>
							<td><%= pluralize(store.teams.count, 'Team') %></td>
							<td><%= pluralize(store.products.count, 'Product') %></td>
							<td><%= link_to 'Remove from channel >>', '#', :data => {:id => store.id}, :class => 'btn btn-info btn-sm btn-remove-from-channel' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	var remove_store_from_channel_path = "<%= remove_store_from_channel_path(@channel, @paramz) %>";
</script>