<div class="col-md-6">
	<div id="existing-stores">
		<%= render :partial => 'channels/partials/stores/existing_stores' %>
	</div>
</div>

<div class="col-md-6">
	<div id="available-stores">
		<%= render :partial => 'channels/partials/stores/available_stores' %>		
	</div>	
</div>