<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Code</th>
			<th>Name</th>
			<th>Brand</th>
			<th>Associations</th>
			<th>Reports</th>
		</tr>
	</thead>

	<tbody>
		<% if @products.empty? %>
			<tr>
				<td colspan="5" align="center">No products found.</td>
			</tr>
		<% else %>
			<% @products.each do |product| %>
				<tr>
					<td align="center"><%= image_tag product.avatar.url(:tiny) %></td>
					<td><%= product.id %></td>
					<td><%= product.name %></td>
					<td><%= product.brand.nil? ? 'N/A' : product.brand.name %></td>
					<td>
						<p><a href="<%= products_stores_dashboard_path(product) %>" class="btn btn-primary btn-xs"><%= pluralize(product.stores.count, 'Store') %></a></p>
					</td>
					<td>
						<a href="<%= products_reports_dashboard_path(product, :view => 'graph') %>" class="btn btn-info btn-xs">View Reports</a>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>