<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Code</th>
			<th>Name</th>
			<th>Channel</th>
			<th>Inventory Level</th>
		</tr>
	</thead>

	<tbody>
		<% if @stores.empty? %>
			<tr>
				<td colspan="5" align="center">No stores found.</td>
			</tr>
		<% else %>
			<% @stores.each do |store| %>
				<tr>
					<td align="center"><%= image_tag store.avatar.url(:tiny) %></td>
					<td><%= store.id %></td>
					<td><%= store.name %></td>
					<td><%= store.channel.nil? ? 'N/A' : store.channel.name %></td>
					<td><%= spi_inventory_level(store.id, params[:id]) %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>