<%= form_for(@brand, :html => {:class => 'form-horizontal', :id => 'form-brands'}) do |f| %>
	<%= render :partial => 'brands/partials/form_header' %>

	<section class="content">
		<div class="row">
		  <%= render :partial => 'brands/partials/form', :locals => { :f => f } %>
		</div>
	</section>
<% end %>