<section class="content-header">
	<h1><%= content_header %><h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">			
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Brands List</h3>
				</div>

				<div class="box-body table-responsive">
					<div class="col-md-12" id="list-container">
						<%= render :partial => 'brands/partials/reports/list' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>