<%= form_tag report_date_range_product_path do %>
	<div class="col-md-8 no-padding">
		<div class="input-group">
		  <div class="input-group-addon">
		    <i class="fa fa-calendar"></i>
		  </div>

			<%= hidden_field_tag 'view', params[:view] %>
			<%= hidden_field_tag 'id', params[:id] %>
		  <%= text_field_tag 'date_range', nil, :class => 'form-control pull-right', :id => 'report-date-range' %>
		</div>
	</div>

	<div class="col-md-4 no-padding">
		<div class="pull-right">
			<%= submit_tag 'View Report!', :class => 'btn btn-default' %>
		</div>
	</div>
<% end %>