<canvas id="myChart"></canvas>
<div id="chartjs-tooltip"></div>

<%= javascript_include_tag "plugins/chart.bundle.min" %>

<script>
	var labels = <%= raw report_labels %>;
	var background_colors = <%= raw report_background_colors %>;
	var data = <%= raw report_data %>;
</script>