<!-- <table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Date</th>
			<th>Product</th>
			<th>Brand</th>
			<th>Store</th>
			<th>Channel</th>
			<th>Inventory Level</th>
		</tr>
	</thead>

	<tbody>
		<#% if @reports.empty? %>
		<#% else %>
			<#% @reports.each do |report| %>
				<tr>
					<td><#%= report.created_at.strftime("%m-%d-%Y %H:%M:%S") %></td>
					<td><#%= report.product.name %></td>
					<td><#%= report.product.brand.name %></td>
					<td><#%= report.store.name %></td>
					<td><#%= report.store.channel.name %></td>
					<td><span class="badge bg-<#%= level_bg(report.inventory_level) %>"><#%= report.inventory_level.humanize.titleize %></span></td>
				</tr>
			<#% end %>
		<#% end %>
	</tbody>
</table> -->

<% @reports.each do |report| %>
	<div class="col-md-3">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">
					<%= report.created_at.strftime("%m/%d/%Y") %>
					<small><%= report.created_at.strftime("%H:%M:%S") %></small>
				</h3>
				<div class="box-tools pull-right">
          <span class="badge bg-<%= level_bg(report.inventory_level) %>"><%= report.inventory_level.humanize.titleize %></span>

          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
			</div>

			<div class="box-body">
				<div class="col-md-6">
					<strong>Image:</strong>

					<div align="center" style="margin-top: 10px;"><%= image_tag report.avatar.url(:thumb) %></div>
				</div>

				<div class="col-md-6">
					<ul class="list-unstyled">
						<li><strong>Brand:</strong> <%= report.product.brand.name %></li>
						<li><strong>Store:</strong> <%= report.store.name %></li>
						<li><strong>Channel:</strong> <%= report.store.channel.name %></li>
					</ul>
				</div>
			</div>

			<div class="box-footer">
				<div class="pull-left">
					<strong>Size:</strong> <%= number_to_human_size(report.avatar_file_size) %>
				</div>

				<div class="pull-right">
					<%= link_to 'Download Image', report_image_download_product_path(report), :class => 'btn btn-default btn-sm', :data => {:method => :post} %>
				</div>
			</div>
		</div>
	</div>
<% end %>