<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Name</th>
			<th>Code</th>
			<th>Stores</th>
		</tr>
	</thead>

	<tbody>
		<% if @products.empty? %>
			<tr>
				<td colspan="4" align="center">No products found.</td>
			</tr>
		<% else %>
			<% @products.each do |product| %>
				<tr>
					<td align="center"><%= image_tag product.avatar.url(:tiny) %></td>
					<td><%= product.name %></td>
					<td><%= product.id %></td>
					<td><%= pluralize(product.stores.count, 'Stores') %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>

	<%= render :partial => 'partials/pagination', :locals => {:list => @products} %>
</table>