<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Code</th>
			<th>Name</th>
			<th>Store</th>
			<th>Brand</th>
			<th>Inventory Level</th>
		</tr>
	</thead>

	<tbody>
		<% if @store_product_inventories.empty? %>
			<tr>
				<td colspan="6" align="center">No products found.</td>
			</tr>
		<% else %>
			<% @store_product_inventories.each do |spi| %>
				<tr>
					<td align="center"><%= image_tag spi.product.avatar.url(:tiny) %></td>
					<td><%= spi.product.id %></td>
					<td><%= spi.product.name %></td>
					<td><%= spi.store.name %></td>
					<td><%= spi.product.brand.nil? ? 'N/A' : spi.product.brand.name %></td>
					<td><span class="badge bg-<%= level_bg(spi.inventory_level) %>"><%= spi.inventory_level.humanize.titleize %></span></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>