<section class="content-header">
	<h1>
		<%= content_header %>

		<div class="pull-right">
			<a href="#" class="btn btn-success" id="link-save-team">Save</a>
			<a href="<%= teams_path(@paramz) %>" class="btn btn-warning">Cancel</a>
			<% unless @team.new_record? %>
				<a href="<%= team_path(@team, @paramz) %>" data-confirm="Delete <%= @team.name %>?" data-method="delete" class="btn btn-danger">Delete</a>
			<% end %>
		</div>
	</h1>
</section>