<%= field_support_error_alert_notice!(false, @team) %>

<%= hidden_field_tag :page, params[:page] %>
<%= hidden_field_tag :sortby, params[:sortby] %>
<%= hidden_field_tag :order, params[:order] %>

<div class="col-md-8">
  <%= render :partial => 'teams/partials/information', :locals => {:f => f} %>
</div>

<div class="col-md-4">
  <%= render :partial => 'teams/partials/store_assignment' %>
</div>