<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th><%= table_header('code') %></th>
			<th><%= table_header('name') %></th>
			<th><%= table_header('store') %></th>
			<th>Accounts</th>
		</tr>
	</thead>

	<tbody>
		<% if @teams.empty? %>
			<tr>
				<td colspan="4" align="center">No teams found.</td>
			</tr>
		<% else %>
			<% @teams.each do |team| %>
				<tr data-href="<%= edit_team_path(team, @paramz) %>">
					<td><%= team.id %></td>
					<td><%= team.name %></td>
					<td><%= team.store.nil? ? 'N/A' : "#{team.store.name} - #{team.store.location}" %></td>
					<td><a href="<%= accounts_team_path(team, @paramz) %>" class="btn btn-primary btn-xs"><%= pluralize(team.users.count, 'Account') %></a></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>

	<%= render :partial => 'partials/pagination', :locals => {:list => @teams} %>
</table>