<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Store Assignment</h3>
  </div>

  <div class="box-body box-profile">
    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'Store' %>
        <%= select_tag 'store', options_from_collection_for_select(@stores, 'id', 'select_display', @team.store.nil? ? nil : @team.store.id), :class => 'form-control', :include_blank => 'N/A' %>
      </div>
    </div>
  </div>
</div>