<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Code</th>
			<th>Name</th>
			<th>Stores</th>
			<th>Products</th>
			<th>Products Levels</th>
		</tr>
	</thead>

	<tbody>
		<% if @channels.empty? %>
			<tr>
				<td colspan="6" align="center">No channels found.</td>
			</tr>
		<% else %>
			<% @channels.each do |channel| %>
				<tr>
					<td align="center"><%= image_tag channel.avatar.url(:tiny) %></td>
					<td><%= channel.id %></td>
					<td><%= channel.name %></td>
					<td><a href="<%= extractions_stores_dashboard_path(channel, @paramz) %>" class="btn btn-primary btn-xs"><%= pluralize(channel.stores.count, 'Store') %></a></td>
					<td><%= products_link(channel) %></td>
					<td><%= channel_stores_products_levels(channel) %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>