<section class="content-header">
	<h1>
		<%= content_header %>

		<div class="pull-right">
			<div class="btn-group">
				<a href="<%= products_reports_dashboard_path(params[:id], :view => 'graph') %>" class="btn btn-success <%= 'disabled' if params[:view].eql?('graph') %>"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;Graph View</a>
				<a href="<%= products_reports_dashboard_path(params[:id], :view => 'list') %>" class="btn btn-primary <%= 'disabled' if params[:view].eql?('list') %>"><i class="fa fa-table"></i>&nbsp;&nbsp;List View</a>
			</div>

			<a href="<%= products_reports_dashboard_path(params[:id], :format => :pdf) %>" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Generate PDF</a>
		</div>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">
						<div class="col-md-8 no-padding">
							(<strong><%= @product.name %></strong>) Reports
						</div>

						<div class="col-md-4 no-padding">
							<div class="pull-right">
								<%= render :partial => 'products/partials/reports/date_range' %>
							</div>
						</div>
					</h3>
				</div>

				<% if params[:view].eql?('graph') %>
					<div class="box-body">
						<%= render :partial => 'products/partials/reports/graph' %>
					</div>
				<% else %>
					<div class="box-body table-responsive">
						<div class="col-md-12" id="list-container">
							<%= render :partial => 'products/partials/reports/list' %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>

<script>
	var view = "<%= j params[:view] %>";
	var sdate = "<%= params[:sdate] %>";
	var edate = "<%= params[:edate] %>";
</script>