<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">
			<strong>( <%= @store.name %> )</strong> Existing Products 
			<small>(<%= pluralize(@existing_products.count, 'Product') %>)</small>
		</h3>
	</div>

	<div class="box-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Product</th>
					<th>Inventory Level</th>
					<th>Action</th>
				</tr>	
			</thead>

			<tbody>
				<% if @existing_products.empty? %>
					<tr>
						<td colspan="3" align="center">No existing products.</td>
					</tr>
				<% else %>
					<% @existing_store_product_inventories.each do |store_product_inventory| %>
						<tr>
							<td><%= store_product_inventory.product.name %></td>
							<td><span class="badge bg-<%= level_bg(store_product_inventory.inventory_level) %>"><%= store_product_inventory.inventory_level.humanize.capitalize %></span></td>
							<td><%= link_to 'Remove from store >>', '#', :data => {:id => store_product_inventory.id}, :class => 'btn btn-info btn-sm btn-remove-from-store' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	var remove_product_from_store_path = "<%= remove_product_from_store_path(@store, @paramz) %>";
</script>