<div class="col-md-6">
	<div id="existing-accounts">
		<%= render :partial => 'teams/partials/accounts/existing_accounts' %>
	</div>
</div>

<div class="col-md-6">
	<div id="available-accounts">
		<%= render :partial => 'teams/partials/accounts/available_accounts' %>		
	</div>	
</div>