<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">
			Available Accounts 
			<small>(<%= pluralize(@available_accounts.count, 'account') %>)</small>
		</h3>
	</div>

	<div class="box-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Role Type</th>
					<th>Action</th>
				</tr>	
			</thead>

			<tbody>
				<% if @available_accounts.empty? %>
					<tr>
						<td colspan="3" align="center">No available accounts.</td>
					</tr>
				<% else %>
					<% @available_accounts.each do |account| %>
						<tr>
							<td><%= account.name %></td>
							<td><span class="badge bg-<%= account_color(account.user_type) %>"><%= account.user_type.humanize.titleize %></span></td>
							<td><%= link_to '<< Add to team', '#', :data => {:id => account.id}, :class => 'btn btn-primary btn-sm btn-add-to-team' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	var add_account_to_team_path = "<%= add_account_to_team_path(@team, @paramz) %>";
</script>