<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">
			<strong>( <%= @team.name %> )</strong> Existing Accounts 
			<small>(<%= pluralize(@existing_accounts.count, 'Account') %>)</small>
		</h3>
	</div>

	<div class="box-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Role Type</th>
					<th>Action</th>
				</tr>	
			</thead>

			<tbody>
				<% if @existing_accounts.empty? %>
					<tr>
						<td colspan="3" align="center">No existing accounts.</td>
					</tr>
				<% else %>
					<% @existing_accounts.each do |account| %>
						<tr>
							<td><%= account.name %></td>
							<td><span class="badge bg-<%= account_color(account.user_type) %>"><%= account.user_type.humanize.titleize %></span></td>
							<td><%= link_to 'Remove from team >>', '#', :data => {:id => account.id}, :class => 'btn btn-info btn-sm btn-remove-from-team' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script>
	var remove_account_from_team_path = "<%= remove_account_from_team_path(@team, @paramz) %>";
</script>