<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Channel Assignment</h3>
  </div>

  <div class="box-body box-profile">
    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag 'Channel' %>
        <%= select_tag 'channel', options_from_collection_for_select(@channels, "id", "name", @store.channel.nil? ? nil : @store.channel.id), :class => 'form-control', :include_blank => 'N/A' %>
      </div>
    </div>
  </div>
</div>