<%= field_support_error_alert_notice!(false, @store) %>

<%= hidden_field_tag :page, params[:page] %>
<%= hidden_field_tag :sortby, params[:sortby] %>
<%= hidden_field_tag :order, params[:order] %>

<div class="col-md-3">
  <%= render :partial => 'partials/avatar', :locals => {:f => f, :klazz => @store} %>
</div>

<div class="col-md-9">
  <%= render :partial => 'stores/partials/information', :locals => {:f => f} %>
  <%= render :partial => 'stores/partials/channel_assignment' %>
</div>