<section class="content-header">
	<h1>
		<%= content_header %>

		<div class="pull-right">
			<a href="#" class="btn btn-success" id="link-save-store">Save</a>
			<a href="<%= stores_path(@paramz) %>" class="btn btn-warning">Cancel</a>
			<% unless @store.new_record? %>
				<a href="<%= store_path(@store, @paramz) %>" data-confirm="Delete <%= @store.name %>?" data-method="delete" class="btn btn-danger">Delete</a>
			<% end %>
		</div>
	</h1>
</section>