<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th><%= table_header('code') %></th>
			<th><%= table_header('name') %></th>
			<th><%= table_header('location') %></th>
			<th><%= table_header('channel') %></th>
			<th>Associations</th>
		</tr>
	</thead>

	<tbody>
		<% if @stores.empty? %>
			<tr>
				<td colspan="6" align="center">No stores found.</td>
			</tr>
		<% else %>
			<% @stores.each do |store| %>
				<tr data-href="<%= edit_store_path(store, @paramz) %>">
					<td align="center"><%= image_tag store.avatar.url(:tiny) %></td>
					<td><%= store.id %></td>
					<td><%= store.name %></td>
					<td><%= store.location %></td>
					<td><%= store.channel.nil? ? 'N/A' : store.channel.name %></td>
					<td>
						<p><a href="<%= teams_store_path(store, @paramz) %>" class="btn btn-primary btn-xs"><%= pluralize(store.teams.count, 'Team') %></a> <a href="<%= products_store_path(store, @paramz) %>" class="btn btn-info btn-xs"><%= pluralize(store.products.count, 'Product') %></a></p>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>

	<%= render :partial => 'partials/pagination', :locals => {:list => @stores} %>
</table>