<%= form_tag generate_reports_path(:format => :pdf) do %>
	<section class="content-header">
		<h1>
			<%= content_header %>

			<div class="pull-right">
				<button type="submit" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Generate PDF</button>
				
			</div>
		</h1>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<%= field_support_error_alert_notice!(true) %>
				
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Report Generator</h3>

						<div class="btn-group pull-right" role="group" id="filter-dropdown">
					    <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					      Add Filter
					      &nbsp;&nbsp;
					      <span class="caret"></span>
					    </button>

					    <ul class="dropdown-menu">
					      <li id="inventory-level"><a href="#">Inventory Levels</a></li>
					      <li id="channels-and-stores"><a href="#">Channels & Stores</a></li>
					    </ul>
					  </div>
					</div>

					<div class="box-body filters">
						<div class="col-md-4">
							<%= render :partial => 'reports/partials/products' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<% end %>

<script>
	inventory_levels_template = "<%= j(render :partial => 'reports/partials/inventory_levels') %>"
	channels_path = "<%= channels_path %>";
	stores_path = "<%= stores_path %>";
</script>