<section class="content-header">
	<h1>
		<%= content_header %>

		<div class="pull-right">
			<a href="<%= products_report_path(params[:id], :format => :pdf) %>" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Generate PDF</a>
		</div>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">		
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Staff Visitations Reports</h3>
				</div>

				<div class="box-body table-responsive">
					<div class="col-md-12" id="list-container">
						<%= render :partial => 'reports/partials/products_list' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>