<table class="table table-hover" style="color: black;">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Code</th>
			<th>Name</th>
			<th>Stores</th>
		</tr>
	</thead>

	<tbody>
		<% if @channels.empty? %>
			<tr>
				<td colspan="4" align="center">No channels found.</td>
			</tr>
		<% else %>
			<% @channels.each do |channel| %>
				<tr>
					<td align="center"><%= image_tag channel.avatar.url(:tiny) %></td>
					<td><%= channel.id %></td>
					<td><%= channel.name %></td>
					<td><a href="<%= channels_stores_dashboard_path(channel) %>" class="btn btn-primary btn-xs"><%= pluralize(channel.stores.count, 'Store') %></a></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>

	<%= render :partial => 'partials/pagination', :locals => {:list => @channels} %>
</table>