<!DOCTYPE html>
<html style="height: auto;">
  <head>
    <title>Field Support | <%= params[:controller].humanize.capitalize %></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'field_support' %>
  </head>

  <body class="hold-transition login-page" cz-shortcut-listen="true" style>
    <div class="login-box">
      <div class="login-logo">
        <strong>FIELD</strong>
        Support
      </div>

      <div class="login-box-body">        
        <%= yield %>
      </div>
    </div>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'field_support' %>

  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
      });
    });
  </script>
</html>
